$pro-clr: #98C5E9;
$small-font: 16px;
$large-font: 32px;

.pg-work-content {
    width: 100%;
    height: auto;
    label {
        font-size: $large-font;
        text-align: center;
        display: block;
        color:#333;
        padding:50px 0;
    }
}
.main-pro-work {

}

/*---- Project-one content ----*/
.project-one {
    width: 100%;
    height:200px;
    margin-bottom:50px;
    padding-right:25px;
    overflow: hidden;
    a {
        height:100%;
        width:100%;
        background: url('../images/loading-spinners.png');
        background-position-x: 54%;
        background-position-y: 58%;
        display:block;
        padding-right:25px;
        position:relative;
        @include  transition(all .3s linear);
        &:after {
            content:'Loading Spinners';
            position:absolute;
            display:block;
            height:100%;
            width:100%;
            bottom:-200px;
            left:0;
            background-color:rgba(#111, .2);
            color:#fff;
            opacity: 0.1;
            text-align:center;
            line-height:50px;
            visibility: hidden;
            @include transition(all 0.2s linear);
            text-transform: uppercase;
        }
    }
    a:hover {

    }
    a:hover:after{
        opacity: 1;
        visibility: visible;
        height: 100%;
        bottom:  0px;
        line-height: 200px;
        background-color: rgba(0,0,0,0.6);
    }
}
/*---- //Project-one content ----*/



@media screen and (max-width:768px){
    .project-one{
        width:100%;
        padding-right:0;
        display:block;
    }
    .project-two{
        width:100%;
        padding-left:0;
        display:block;
    }
    .project-three{
        width:100%;
        padding-right:0;
        display:block;
    }
    .project-four{
        width:100%;
        padding-left:0;
        display:block;
    }

}

@media screen and (max-width:328px){
    .project-one{
        width:100%;
        padding-right:0;
        display:block;
    }
}
