@import url(http://fonts.googleapis.com/css?family=Oswald:300,400);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic,300,700);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 3, ../scss/_reset.scss */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  font-family: "Arial Narrow", Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../scss/_grid.scss */
.row {
  width: 100%;
  display: block;
  clear: both;
}
/* line 5, ../scss/_grid.scss */
.row:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}

/* line 13, ../scss/_grid.scss */
.column {
  float: left;
}

/* line 17, ../scss/_grid.scss */
.column.large-1 {
  width: 8.33333%;
}

/* line 20, ../scss/_grid.scss */
.column.large-2 {
  width: 16.66667%;
}

/* line 23, ../scss/_grid.scss */
.column.large-3 {
  width: 25%;
}

/* line 26, ../scss/_grid.scss */
.column.large-4 {
  width: 33.33333%;
}

/* line 29, ../scss/_grid.scss */
.column.large-5 {
  width: 41.66667%;
}

/* line 32, ../scss/_grid.scss */
.column.large-6 {
  width: 50%;
}

/* line 35, ../scss/_grid.scss */
.column.large-7 {
  width: 58.33333%;
}

/* line 38, ../scss/_grid.scss */
.column.large-8 {
  width: 66.66667%;
}

/* line 41, ../scss/_grid.scss */
.column.large-9 {
  width: 75%;
}

/* line 44, ../scss/_grid.scss */
.column.large-10 {
  width: 83.33333%;
}

/* line 47, ../scss/_grid.scss */
.column.large-11 {
  width: 91.66667%;
}

/* line 50, ../scss/_grid.scss */
.column.large-12 {
  width: 100%;
}

@media screen and (max-width: 320px) {
  /* line 56, ../scss/_grid.scss */
  .column.small-1 {
    width: 8.33333%;
  }

  /* line 59, ../scss/_grid.scss */
  .column.small-2 {
    width: 16.66667%;
  }

  /* line 62, ../scss/_grid.scss */
  .column.small-3 {
    width: 25%;
  }

  /* line 65, ../scss/_grid.scss */
  .column.small-4 {
    width: 33.33333%;
  }

  /* line 68, ../scss/_grid.scss */
  .column.small-5 {
    width: 41.66667%;
  }

  /* line 71, ../scss/_grid.scss */
  .column.small-6 {
    width: 50%;
  }

  /* line 74, ../scss/_grid.scss */
  .column.small-7 {
    width: 58.33333%;
  }

  /* line 77, ../scss/_grid.scss */
  .column.small-8 {
    width: 66.66667%;
  }

  /* line 80, ../scss/_grid.scss */
  .column.small-9 {
    width: 75%;
  }

  /* line 83, ../scss/_grid.scss */
  .column.small-10 {
    width: 83.33333%;
  }

  /* line 86, ../scss/_grid.scss */
  .column.small-11 {
    width: 91.66667%;
  }

  /* line 89, ../scss/_grid.scss */
  .column.small-12 {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  /* line 96, ../scss/_grid.scss */
  .column.medium-1 {
    width: 8.33333%;
  }

  /* line 99, ../scss/_grid.scss */
  .column.medium-2 {
    width: 16.66667%;
  }

  /* line 102, ../scss/_grid.scss */
  .column.medium-3 {
    width: 25%;
  }

  /* line 105, ../scss/_grid.scss */
  .column.medium-4 {
    width: 33.33333%;
  }

  /* line 108, ../scss/_grid.scss */
  .column.medium-5 {
    width: 41.66667%;
  }

  /* line 111, ../scss/_grid.scss */
  .column.medium-6 {
    width: 50%;
  }

  /* line 114, ../scss/_grid.scss */
  .column.medium-7 {
    width: 58.33333%;
  }

  /* line 117, ../scss/_grid.scss */
  .column.medium-8 {
    width: 66.66667%;
  }

  /* line 120, ../scss/_grid.scss */
  .column.medium-9 {
    width: 75%;
  }

  /* line 123, ../scss/_grid.scss */
  .column.medium-10 {
    width: 83.33333%;
  }

  /* line 126, ../scss/_grid.scss */
  .column.medium-11 {
    width: 91.66667%;
  }

  /* line 129, ../scss/_grid.scss */
  .column.medium-12 {
    width: 100%;
  }
}
/* line 3, ../scss/_header.scss */
.pg-hdr {
  width: 100%;
  height: 80%;
  background: url("../images/hdr-bg-4.jpg");
  background-position: center;
  background-size: cover;
}
/* line 9, ../scss/_header.scss */
.pg-hdr .pg-hdr-tint {
  height: 100%;
  width: 100%;
  background-color: rgba(81, 104, 139, 0.6);
}

/* line 15, ../scss/_header.scss */
.pg-hdr-menu {
  position: absolute;
  top: 20px;
  right: 0;
  width: auto;
  height: 50px;
}
/* line 21, ../scss/_header.scss */
.pg-hdr-menu ul {
  list-style-tyoe: none;
}
/* line 23, ../scss/_header.scss */
.pg-hdr-menu ul li {
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  margin-right: 50px;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #fd6ca3;
}
/* line 33, ../scss/_header.scss */
.pg-hdr-menu ul li:hover {
  background-color: #fd5393;
  cursor: pointer;
}

/* line 39, ../scss/_header.scss */
.pg-hdr-abt {
  position: relative;
  height: auto;
  top: 40%;
  text-align: center;
}
/* line 44, ../scss/_header.scss */
.pg-hdr-abt h1 {
  font-size: 58px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}
/* line 51, ../scss/_header.scss */
.pg-hdr-abt h4 {
  padding-top: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 20px;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  /* line 61, ../scss/_header.scss */
  .pg-hdr-menu {
    width: 100%;
    text-align: center;
  }
  /* line 65, ../scss/_header.scss */
  .pg-hdr-menu ul li {
    float: none;
    margin: 0 auto;
    display: inline-block;
  }
}
/* line 3, ../scss/_pg-wrapper.scss */
.pg-wrapper {
  max-width: 960px;
  height: auto;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

/* line 12, ../scss/_pg-content.scss */
.pg-work-content {
  width: 100%;
  height: auto;
}
/* line 15, ../scss/_pg-content.scss */
.pg-work-content label {
  font-size: 48px;
  text-align: center;
  display: block;
  color: #333;
  padding: 50px 0;
}

/* line 26, ../scss/_pg-content.scss */
.project-one {
  height: 200px;
  margin-bottom: 50px;
  padding-right: 25px;
}
/* line 30, ../scss/_pg-content.scss */
.project-one a {
  height: 100%;
  width: 100%;
  background-color: #98c5e9;
  display: block;
  padding-right: 25px;
  position: relative;
  transition: all .3s linear;
}
/* line 38, ../scss/_pg-content.scss */
.project-one a:after {
  content: 'Loading Spinners';
  position: absolute;
  display: block;
  height: 25%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.2);
  color: #fff;
  text-align: center;
  line-height: 50px;
}
/* line 52, ../scss/_pg-content.scss */
.project-one a:hover {
  transform: translateY(-5px);
}

/* line 56, ../scss/_pg-content.scss */
.project-two {
  height: 200px;
  margin-bottom: 50px;
  padding-left: 25px;
}
/* line 60, ../scss/_pg-content.scss */
.project-two a {
  height: 100%;
  width: 100%;
  background-color: #98c5e9;
  display: block;
  position: relative;
  transition: all .3s linear;
}
/* line 67, ../scss/_pg-content.scss */
.project-two a:after {
  content: 'CSS3 Icons';
  position: absolute;
  display: block;
  height: 25%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.2);
  text-align: center;
  line-height: 50px;
  color: #fff;
}
/* line 81, ../scss/_pg-content.scss */
.project-two a:hover {
  transform: translateY(-5px);
}

/* line 85, ../scss/_pg-content.scss */
.project-three {
  height: 200px;
  margin-bottom: 50px;
  padding-right: 25px;
}
/* line 89, ../scss/_pg-content.scss */
.project-three a {
  height: 100%;
  width: 100%;
  background-color: #98c5e9;
  display: block;
  position: relative;
  transition: all .3s linear;
}
/* line 97, ../scss/_pg-content.scss */
.project-three a:after {
  content: 'Real Estate Website Design';
  position: absolute;
  display: block;
  height: 25%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.2);
  text-align: center;
  line-height: 50px;
  color: #fff;
}
/* line 111, ../scss/_pg-content.scss */
.project-three a:hover {
  transform: translateY(-5px);
}

/* line 116, ../scss/_pg-content.scss */
.project-four {
  height: 200px;
  margin-bottom: 50px;
  padding-left: 25px;
}
/* line 120, ../scss/_pg-content.scss */
.project-four a {
  height: 100%;
  width: 100%;
  background-color: #98c5e9;
  display: block;
  position: relative;
  transition: all .3s linear;
}
/* line 127, ../scss/_pg-content.scss */
.project-four a:after {
  content: '3D-Experiment';
  position: absolute;
  display: block;
  height: 25%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.2);
  text-align: center;
  line-height: 50px;
  color: #fff;
}
/* line 141, ../scss/_pg-content.scss */
.project-four a:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
  /* line 147, ../scss/_pg-content.scss */
  .project-one {
    width: 100%;
    padding-right: 0;
    display: block;
  }

  /* line 152, ../scss/_pg-content.scss */
  .project-two {
    width: 100%;
    padding-left: 0;
    display: block;
  }

  /* line 157, ../scss/_pg-content.scss */
  .project-three {
    width: 100%;
    padding-right: 0;
    display: block;
  }

  /* line 162, ../scss/_pg-content.scss */
  .project-four {
    width: 100%;
    padding-left: 0;
    display: block;
  }
}
/* line 1, ../scss/_footer.scss */
.footer {
  background-color: #51688B;
  display: block;
  text-align: center;
}
/* line 5, ../scss/_footer.scss */
.footer ul {
  list-style-type: none;
}
/* line 7, ../scss/_footer.scss */
.footer ul li {
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 100px;
}
/* line 14, ../scss/_footer.scss */
.footer ul li a {
  text-decoration: none;
  color: #fff;
  opacity: .3;
}
/* line 19, ../scss/_footer.scss */
.footer ul li a:hover {
  opacity: 1;
}
